<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Proceso</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="../css/main.css">
</head>

<body>
    <!-- Navbar -->
    <nav class="sidenav-trigger">
        <div class="nav-wrapper">
            <a href="../index.html" class="brand-logo"><img class="logo" src="../assets/logo-tank-white.png" alt=""></a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down menumed">
                <!-- <li><a href="#">Inicio</a></li> -->
                <li><a href="Propuestas-Inversión.html">Propuestas de Inversión</a></li>
                <li><a href="#">Proceso</a></li>
                <li><a href="Quienes-somos.html">Quienes somos</a></li>
                <li><a href="Preguntas.html">Preguntas (FAQ)</a></li>
                <li><a href="#">Registrate</a></li>
                <li><a href="#" class="waves-effect waves-light btn">Ingresar</a></li>
            </ul>
        </div>
    </nav>
    <!-- Collapsable-menu -->
    <ul class="sidenav" id="mobile-demo">
        <!-- <li><a href="#">Inicio</a></li> -->
        <li><a href="Propuestas-Inversión.html">Propuestas de Inversión</a></li>
        <li><a href="#">Proceso</a></li>
        <li><a href="Quienes-somos.html">Quienes somos</a></li>
        <li><a href="Preguntas.html">Preguntas (FAQ)</a></li>
        <li><a href="#">Registrate</a></li>
    </ul>
    <!-- Text -->
    <img class="responsive-img frstimg" src="../assets/img/quotes-07.png" alt="">
    <main class="container prcss">
        <div class="row">
            <div class="col m6 l6 hide-on-small-only"><img class="responsive-img" src="../assets/img/343596-PACYSS-905.jpg" alt=""></div>
            <div class="col s12 m6 l6">
                <h5 class="center-align">Proceso</h5>
                <p>
                    Un proceso de inversión no es un proceso de especulación. <br>
                    Tank Investment Club está buscando generar una poderosa alianza entre sus miembros, para ofrecer independencia
                    financiera a largo plazo, logrando juntar un portafolio de inversión, mientras multiplicas tu dinero con los bonos
                    de
                    subscripción. <br><br>
                    Nuestro proceso de inversión es muy simple: <br>
                    1. Se levanta la convocatoria sobre la inversión <br>
                    2. El socio decide si quiere participar en la convocatoria abierta <br>
                    3. El socio invierte en la convocatoria <br>
                    4. El socio se hace acreedor de los 3 beneficios del club: <br>
                    <ol class="bnfc">
                        <li>Obtiene bonos por su organización de inversionistas*</li>
                        <li>Obtiene certificados de producto de la inversión</li>
                        <li>Obtiene acciones de la empresa en cuestión</li>
                    </ol>
                </p>
                <br>
                <p class="smlltxt">*El socio obtiene los beneficios de su organización cuando 3 de sus inversionistas de su nivel
                    próximo inferior
                    inviertan en la convocatoria.</p>
            </div>
            <!-- <div class="col s12 m12 l8 offset-l2 prcss">
                <h5 class="center-align">Proceso</h5>
                <p><i>"La inversión debería ser más parecida a ver una pintura en la pared o ver crecer el césped. Si lo que buscas son
                emociones, toma 800 dólares y vete a Las Vegas". - Paul Samuelson</i><br><br>
                Un proceso de inversión no es un proceso de especulación <br>
                Tank Investment Club está buscando generar una poderosa alianza entre sus miembros, para ofrecer independencia
                financiera a largo plazo, logrando juntar un portafolio de inversión, mientras multiplicas tu dinero con los bonos de
                subscripción. <br><br>
                Nuestro proceso de inversión es muy simple: <br>
                1. Se levanta la convocatoria sobre la inversión <br>
                2. El socio decide si quiere participar en la convocatoria abierta <br>
                3. El socio invierte en la convocatoria <br>
                4. El socio se hace acreedor de los 3 beneficios del club: <br>
                <ol class="bnfc">
                    <li>Obtiene bonos por su organización de inversionistas*</li>
                    <li>Obtiene certificados de producto de la inversión</li>
                    <li>Obtiene acciones de la empresa en cuestión</li>
                </ol>
                </p>
                <br>
                <p class="smlltxt">*El socio obtiene los beneficios de su organización cuando 3 de sus inversionistas de su nivel próximo inferior
                inviertan en la convocatoria.</p>
            </div> -->
        </div>
    </main>
    <!-- Button to register -->
    <div class="row rgstr">
        <div class="button col s12 m6 l6 offset-l3 center-align">
            <a href="registrate.html" class="waves-effect waves-light btn">Registrate</a>
        </div>
    </div>
    <!-- logos -->
    <section class="container dwnsct">
        <div class="row">
            <div class="col s12 m4 l3 center-align"><img class="responsive-img dwnlg" src="../assets/logoIR.png" alt=""></div>
            <div class="col s12 m4 l3 center-align"><img class="responsive-img dwnlg" src="../assets/logo.png" alt=""></div>
            <div class="col s12 m4 l3 center-align"><img class="responsive-img dwnlg" src="../assets/microsoft.png" alt=""></div>
            <div class="col s12 m4 l3 center-align"><img class="responsive-img dwnlg" src="../assets/logo-tank-1.png"alt=""></div>
        </div>
    </section>
    <!-- Footer -->
    <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Contacto</h5>
                    <p class="grey-text text-lighten-4">Teléfono 36157633 ext. 102 <br> Lunes a viernes de 9 am a 5pm</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Dirección</h5>
                    <p>Av. Hidalgo 2433 <br>Colonia Vallarta Norte <br>Guadalajara, Jalisco. CP 44690</p>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2019 Copyright Text
                <a href="../assets/aviso-privacidad_ideasreward.pdf" target="_blank" class="grey-text text-lighten-4 right"
                    href="#!">Aviso de Privacidad</a>
            </div>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="../js/app.js"></script>
</body>

</html>