<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Quienes Somos</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300i,400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="../css/main.css">
</head>

<body>
    <!-- Navbar -->
    <nav class="sidenav-trigger">
        <div class="nav-wrapper">
            <a href="../index.html" class="brand-logo"><img class="logo" src="../assets/logo-tank-white.png" alt=""></a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down menumed">
                <!-- <li><a href="#">Inicio</a></li> -->
                <li><a href="Propuestas-Inversión.html">Propuestas de Inversión</a></li>
                <li><a href="Proceso.html">Proceso</a></li>
                <li><a href="#">Quienes somos</a></li>
                <li><a href="Preguntas.html">Preguntas (FAQ)</a></li>
                <li><a href="#">Registrate</a></li>
                <li><a href="#" class="waves-effect waves-light btn">Ingresar</a></li>
            </ul>
        </div>
    </nav>
    <!-- Collapsable-menu -->
    <ul class="sidenav" id="mobile-demo">
        <!-- <li><a href="#">Inicio</a></li> -->
        <li><a href="Propuestas-Inversión.html">Propuestas de Inversión</a></li>
        <li><a href="Proceso.html">Proceso</a></li>
        <li><a href="#">Quienes somos</a></li>
        <li><a href="Preguntas.html">Preguntas (FAQ)</a></li>
        <li><a href="#">Registrate</a></li>
    </ul>
    <!-- Content -->
    <main class="container top">
        <h4 class="center-align mrgn">Quienes somos</h4>
        <div class="row">
            <div class="col m6 l6 hide-on-small-only">
                <img class="responsive-img" src="../assets/img/612339-PNHPT2-309.jpg" alt="">
            </div>
            <div class="col s12 m6 l6">
                <img class="responsive-img quoteimg" src="../assets/img/quotes-06.png" alt="">
                <p>Somos un grupo de profesionales que buscamos una sociedad equilibrada y sana,
                    creando propuestas de inversión que ayuden
                    a individuos a superarse, usando su tiempo de forma eficiente en el crecimiento de su dinero.
                    <br><br>
                    Estamos comprometidos a ayudar a que los miembros de nuestro club alcancen su libertad financiera y
                    una vida más
                    satisfactoria. <br><br>
                    Invierte tus recursos financieros e impacta tu entorno, unéte ahora, como miembro del club haces
                    importantes y
                    significativas contribuciones!
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m6 l6">
                <h5 class="center-align">Nuestra Misión</h5>
                <p>Ayudar a los miembros de nuestro club a convertirse en inversionistas exitosos que impacten
                    positivamente su
                    entorno, a
                    través de inversiones en emprendimientos seguros, escalables, y que aporten un nivel superior de
                    competencia.
                </p>
                <h5 class="center-align">Nuestra Visión</h5>
                <p>Ser uno de los fondos mas importantes en Latinoamérica para ayudar emprendimientos trascendentes.
                </p>
                <h5 class="center-align">Nuestras Valores</h5>
                <p>INTEGRIDAD: Buscar siempre actuar con rectitud en los emprendimientos que colaboremos. <br><br>
                    JUSTICIA: Buscando que todos los actores del ecosistema sean tratados con justicia y honradez.
                    <br><br>
                    SUSTENTABILIDAD: Buscando que todos los proyectos que acojamos perduren en el tiempo ofreciendo
                    bienestar a
                    largo plazo
                    a todos nuestros socios.</p>
            </div>
            <div class="col m6 l6 hide-on-small-only">
                <img class="responsive-img" src="../assets/img/954.jpg" alt="">
            </div>
        </div>
    </main>
    <!-- Button to register -->
    <div class="row rgstr">
        <div class="button col s12 m6 l6 offset-l3 center-align">
            <a href="registrate.html" class="waves-effect waves-light btn">Registrate</a>
        </div>
    </div>
    <!-- logos -->
    <section class="container dwnsct">
        <div class="row">
            <div class="col s12 m4 l3 center-align"><img class="responsive-img dwnlg" src="../assets/logoIR.png" alt="">
            </div>
            <div class="col s12 m4 l3 center-align"><img class="responsive-img dwnlg" src="../assets/logo.png" alt="">
            </div>
            <div class="col s12 m4 l3 center-align"><img class="responsive-img dwnlg" src="../assets/microsoft.png"
                    alt=""></div>
            <div class="col s12 m4 l3 center-align"><img class="responsive-img dwnlg" src="../assets/logo-tank-1.png"
                    alt=""></div>
        </div>
    </section>
    <!-- Footer -->
    <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Contacto</h5>
                    <p class="grey-text text-lighten-4">Teléfono 36157633 ext. 102 <br> Lunes a viernes de 9 am a 5pm
                    </p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Dirección</h5>
                    <p>Av. Hidalgo 2433 <br>Colonia Vallarta Norte <br>Guadalajara, Jalisco. CP 44690</p>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2019 Copyright Text
                <a href="../assets/aviso-privacidad_ideasreward.pdf" target="_blank"
                    class="grey-text text-lighten-4 right" href="#!">Aviso de Privacidad</a>
            </div>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="../js/app.js"></script>
</body>

</html>